.intro-container {
    padding: 60px 20px;
    background-color: #f6feffb0;
    text-align: center;
  }
  
  .intro-title {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .intro-paragraph {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
  }
  